.dropdown-profile{
    position: absolute;
    right: 0;
    top: 70px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: lightgray 0 0 5px 1px;
}
.dropdown-profile:after{
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #424242;
    right: 10px;
    top: -5px;
}
.dropdown-profile .dropdown-element{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    line-height: 45px;
    color: #9e9e9e !important;
    border-bottom: 1px solid lightgray;
}
.dropdown-profile .dropdown-element:hover{
    background: #f0f0f0 !important;
}