.coins-payment{
    margin: 50px 0;
    min-height: 70vh;
}
.coins-payment .header{
    text-align: center;
}
.coins-payment .content{
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: lightgray 0 0 5px 1px;
}
.coins-payment .content .head{
    font-size: 20px;
    margin-bottom: 10px;
}
.coins-payment .content input{
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px 0;
}
.coins-payment .content input:focus{
    box-shadow: lightblue 0 0 5px 1px !important;
    border: 1px solid lightgray !important;
}
.coins-payment .content .pay-wrapper{
    display: flex;
}
.coins-payment .content .pay-wrapper .pay-btn{
    margin-left: auto;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}