.coins {
    margin: 50px 0;
    min-height: 70vh;
}
.coins .operations-history{
    text-align: center;
}
.coins .operations-history .header{
    font-size: 30px;
    margin-bottom: 30px;
}
.coins .search .search-bar{
    display: flex;
    height: 42px;
    padding: 0;
    border-radius: 5px;
    box-shadow: lightgray 0 0 5px 1px;
}
.coins .search .search-bar input{
    height: 30px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
.coins .search .search-bar input:focus{
    box-shadow: none !important;
    border: 1px solid lightgray;
}
.coins .search .search-bar .find{
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.coins .search .search-bar .find:hover{
    background-color: #f5f5f5;
}
.coins .filters{
    display: flex;
    margin-top: 10px;
}
.coins .filter{
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
.coins .filter:hover{
    background-color: #424242;
    color: #ffffff;
}
.coins .filter-drop{
    position: absolute;
    text-align: center;
    left: 0;
    top: 35px;
    background: #ffffff;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
}
.coins .filter-drop-elem{
    padding: 7px 30px;
    color: #9e9e9e !important;
}
.coins .filter-drop-elem:hover{
    background-color: #f5f5f5;
}
.coins .content{
    margin: 20px 0;
}
.coins .payment{
    padding: 15px;
    display: flex;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 3px;
}
.coins .payment .left{
    display: flex;
    align-items: center;
    margin: 0 20px 0 10px;
}
.coins .payment .left img{
    width: 80px;
}
.coins .payment .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.coins .payment .info{
    display: flex;
    flex-flow: column;
    align-items: start;
}
.coins .payment .info .id{
    font-size: 12px;
}
.coins .payment .info .name{
    font-size: 18px;
}
.coins .payment .right .amount{
    font-size: 20px;
    display: flex;
    margin-right: 20px;
}
.coins .more{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}
.coins .more-btn{
    padding: 5px 10px;
    box-shadow: lightgray 0 0 3px 1px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
}
.coins .actions{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.coins .actions .coins-card{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: lightgray 0 0 10px 1px;
}
.coins .actions .coins-card .amount{
    font-size: 24px;
}
.coins .actions .coins-card .buy{
    margin-top: 20px;
    border-radius: 5px;
    padding: 7px 30px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.coins .coins-card .buy:hover{
    transform: translateY(-3px);
}
@media (max-device-width: 600px) {
    .coins .payment .name{
        font-size: 14px !important;
    }
    .coins .payment .amount{
        font-size: 14px !important;
    }
}