.coins {
    margin: 50px 0;
    min-height: 70vh;
}
.coins .operations-history{
    text-align: center;
}
.coins .operations-history .header{
    font-size: 30px;
    margin-bottom: 30px;
}
.coins .content{
    margin: 20px 0;
}
.coins .actions{
    display: flex;
    flex-flow: column;
    align-items: center;
}
@media (max-device-width: 600px) {
    .coins .payment .name{
        font-size: 14px !important;
    }
    .coins .payment .amount{
        font-size: 14px !important;
    }
}