.qiwi-content{
    margin: 5px 0;
}
.qiwi-content .qiwi-elem{
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
}
.qiwi-content .qiwi-elem .num{
    border-radius: 100%;
    padding: 5px 10px;
    margin-right: 10px;
}
.qiwi-content .phone-number input{
    width: 200px;
    margin-left: 35px;
}
.qiwi-content .amount input{
    width: 100px;
    margin-left: 35px;
}