.auth_form{
    padding: 20px 10px !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    box-shadow: lightgray 0 0 20px 1px;
}
.auth_form .title{
    font-size: 30px;
    margin: 10px 0;
}
.auth_form .subtitle{
    display: flex;
    font-size: 15px;
    font-weight: 100;
    padding: 0 60px;
}