footer{
    width: 100%;
    margin-top: 0;
}
footer .footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
footer .footer-row img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}