.form_field{
    margin: 10px 0;
    width: 70%;
}
.form_field .input-label{
    margin-left: -5px;
}
.form_field input{
    background: #ffffff !important;
    padding: 2px 0 2px 5px !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    height: 30px !important;
    margin: 5px 0 0 -5px !important;
    border: 1px solid lightgray !important;
}
.form_field input:focus{
    box-shadow: deepskyblue 0 0 3px 1px !important;
}