.login-panel{
    padding: 90px 0;
}
.login-panel form .submit{
    margin-top: 15px;
    padding: 0 30px;
}
.login-panel form .submit-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-panel form .forgot-password{
    margin-top: 7px;
    font-weight: 100;
}
.login-panel form .forgot-password:hover{
    color: #2196F3 !important;
}