.register{
    padding: 50px 0;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.register form .submit{
    margin: 15px 0;
    border: 0 !important;
    color: white;
}
.register form .submit-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
