.support{
    margin: 50px 0;
}
.support .content_list{
    display: flex;
    flex-flow: column;
    justify-content: left;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 20px;
}
.support .content_list .list-item{
    display: flex;
    justify-content: left;
    flex-flow: column;
    margin-bottom: 10px;
}
.support .content_list .list-item span{
    font-size: 20px;
}
.support .content_list .list-item a{
    margin-left: 10px;
    color: #757575 !important;
}
.support .content_list .list-item a:hover{
    transform: translateX(5px);
    color: #5a5a5a !important;
}
.support .support_content{
    margin-left: 5px;
}
.support .support_content .question-group .head{
    font-size: 24px;
}
.support .support_content .question .help{
    background-color: #fafafa;
    padding: 10px;
    border-radius: 3px;
}
.support .back-connect .connect_suggestion{
    font-size: 20px;
    margin-left: 5px;
}
.support .back-connect .btn{
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 5px !important;
}
.support .back-connect .btn:hover{
    transform: translateY(-1px);
}