.create-order{
    margin: 50px 0;
    min-height: 70vh;
}
.create-order .header{
    text-align: center;
    font-size: 30px;
}
.create-order .content{
    margin: 30px 0 !important;
}
.create-order .left{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.create-order .left .left-header{
    font-size: 25px;
}
.create-order .left .user-img{
    position: relative;
    margin: 30px 0;
    cursor: pointer;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
}
.create-order .left .user-img img{
    width: 200px;
    height: 200px;
}
.create-order .left .user-img .over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.2;
}
.create-order .left .user-img .over img{
    width: 60px;
    height: 60px;
}
.create-order .right .content-field{
    margin: 10px 0;
    width: 100%;
    border: 1px solid lightgray;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
    padding: 3px 10px;
    height: 30px;
}
.create-order .right .content-field:focus{
    box-shadow: #94b0d3 0 0 5px 1px !important;
    border: 1px solid lightgray !important;
}
.create-order .right .label{
    margin: 15px 0;
}
#order-datepicker{
    color: darkgray;
}
.create-order .create {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.create-order .create .create-btn{
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: lightgray 0 0 5px 1px;
}