.person-information .info-block{
    margin: 20px 0;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
}
.person-information .info-block .info-name{
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
}
.person-information .info-content{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
}
.person-information .info-content .may-value{
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px;
}