.orders{
    min-height: 70vh;
    margin: 50px 0;
}
.orders .row .col{
    padding: 0;
}
.orders .top-row{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.orders .header{
    font-size: 30px;
    text-align: center;
}
.orders .make-order{
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: lightgray 0 0 5px 1px;
}
.orders .make-order:hover{
    transform: translateY(-3px);
}
.orders .subheader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders .subheader .subheader-element{
    margin: 0 10px;
}
.orders .search .search-bar{
    display: flex;
    height: 42px;
    padding: 0;
    border-radius: 5px;
    box-shadow: lightgray 0 0 5px 1px;
}
.orders .search .search-bar input{
    height: 30px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
.orders .search .search-bar input:focus{
    box-shadow: none !important;
    border: 1px solid lightgray;
}
.orders .search .search-bar .find{
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.orders .search .search-bar .find:hover{
    background-color: #f5f5f5;
}
.orders .filters{
    display: flex;
    margin-top: 10px;
}
.orders .filter{
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
.orders .filter:hover{
    background-color: #424242;
    color: #ffffff;
}
.orders .filter-drop{
    position: absolute;
    text-align: center;
    left: 0;
    top: 35px;
    background: #ffffff;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
}
.orders .filter-drop-elem{
    padding: 7px 30px;
    color: #9e9e9e !important;
}
.orders .filter-drop-elem:hover{
    background-color: #f5f5f5;
}
.orders .order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: lightgray 0 0 10px 1px;
    padding: 30px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.orders .order:hover{
    box-shadow: lightgray 0 0 15px 1px;
}
.orders .order .date{
    font-size: 16px;
}
.orders .order .name{
    font-size: 18px;
}
.orders .order .status{
    padding: 7px 15px;
    border-radius: 5px;
}
.orders .foot{
    display: flex;
    margin-top: 10px;
}
.orders .foot .btn{
    margin-left: auto;
}
@media (max-device-width: 600px) {
    .orders .order{
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    .orders .order .name, .orders .order .date{
        font-size: 14px;
    }
    .orders .order .status{
        padding: 3px 5px;
    }
}