.orders .order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: lightgray 0 0 10px 1px;
    padding: 30px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.orders .order:hover{
    box-shadow: lightgray 0 0 15px 1px;
}
.orders .order .date{
    font-size: 16px;
}
.orders .order .name{
    font-size: 18px;
}
.orders .order .status{
    padding: 7px 15px;
    border-radius: 5px;
}
@media (max-device-width: 600px) {
    .orders .order{
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
    }
    .orders .order .name, .orders .order .date{
        font-size: 14px;
    }
    .orders .order .status{
        padding: 3px 5px;
    }
}