.person-information{
    min-height: 70vh;
    margin: 50px 0;
}
.person-information .header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.person-information .header span{
    font-size: 20px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0 0 10px;
}
.person-information .left-column{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.person-information .user-img img{
    width: 150px;
    height: 150px;
}
.person-information .right-column{
    margin-left: 10px;
}