.information .info-card{
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: lightgray 0 0 5px 1px;
}
.information .info-card .head{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
}