.information {
    padding: 10px;
}
.information .user-info{
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: lightgray 0 0 5px 1px;
}
.information .head{
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
}
.information .info-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.information .info-element .content{
    margin-left: 10px;
    font-size: 18px;
}
@media (max-device-width: 600px) {
    .information .content{
        font-size: 14px !important;
    }
}