.change-password{
    padding: 10px;
}
.change-password h4{
    margin: 0 0 10px 0;
    text-align: center;
}
.change-password .submit-wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}