.more{
    display: flex;
    justify-content: right;
    margin-top: 15px;
}
.more-btn{
    padding: 5px 10px;
    box-shadow: lightgray 0 0 3px 1px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
}