.search .filters {
    display: flex;
    margin-top: 10px;
}
.search .filter {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
.search .filter:hover {
    background-color: #424242;
    color: #ffffff;
}
.search .filter-drop {
    position: absolute;
    text-align: center;
    left: 0;
    top: 35px;
    background: #ffffff;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
}
.search .filter-drop-elem {
    padding: 7px 30px;
    color: #9e9e9e !important;
}
.search .filter-drop-elem:hover {
    background-color: #f5f5f5;
}