.search .search-bar {
    display: flex;
    height: 42px;
    padding: 0;
    border-radius: 5px;
    box-shadow: lightgray 0 0 5px 1px;
}
.search .search-bar input {
    height: 30px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
.search .search-bar input:focus {
    box-shadow: none !important;
    border: 1px solid lightgray;
}
.search .search-bar .find {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.search .search-bar .find:hover {
    background-color: #f5f5f5;
}