.social-networks .head{
    font-size: 15px;
    display: flex;
    align-items: center;
}
.social-networks .element{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: lightgray 0 0 5px 1px;
    border-radius: 5px;
}
.social-networks .element .sn-logo img {
    width: 40px;
    height: 40px;
}
.social-networks .element .sn-name{
    font-size: 16px;
    margin-left: 20px;
}